### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

scripts/create-docker-container.sh
logs/*
/src/main/resources/images/*
/src/main/resources/credentials-*.yml
docker-compose.yml
.env.template
README.md
.gitignore