spring:
  datasource.url: jdbc:h2:mem:beer
  datasource:
      driverClassName: org.h2.Driver
      username: sa
      password:
  jpa:
    database-platform : org.hibernate.dialect.H2Dialect
    show-sql: true

  liquibase:
    change-log: classpath:db/test.xml

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS : false
    time-zone : UTC

server:
  port: 8086

logging:
  config: classpath:logback/logback.xml
