# To configure this file correctly you need to do three things:
# 1) You need to provide credentials for external database for MySQL (development profile) or H2 (test profile).
# 2) Fulfill the missing keys and remove '.template' from this file name
# 3) Replace 'profile' by the name of the profile, which you would like to use, for instance: credentials-development.yml or credentials-test.yml
spring:
  datasource:
    username:
    password: